body {
    background-color: white;
  }
  
  .container-fluid {
    background-color: grey;
  }
  
  .my-planner {
    color: white;
    text-align: center;
  }
  
  .container {
    color: red;
    max-width: 1250px;
  }
  
  .row {
    border-style: solid;
    padding-bottom: 230px;
    text-align: center;
  }

  #qt {
      maring
  }